body {
    font-family: "Courier New", Courier, monospace;
    margin: auto;
    padding: 15px;
    max-width: 700px;
    text-align: left;
    position: relative;
    background-color: black;
    color: white;
}

